*,
*:before,
*:after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    background: linear-gradient(
        to right,
        #D4145A,
        #FBB03B
    );
}
#title{
    position: absolute;
    color: white;
    text-shadow: 0 0 10px black, 0 0 20px #fff, 0 0 42px white, 0 0 82px white,0 0 92px white;
    width: 50%;
    min-width: 580px;
    transform: translate(-50%, -50%);
    top: 15%;
    left: 50%;
    padding: 50px 10px;
    display: grid;
    justify-items: center;
    align-items: center;
    font-family: 'Offside', sans-serif;
    font-size: 40px;
}
.container{
    position: absolute;
    width: 50%;
    min-width: 580px;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    background-color: white;
    padding: 50px 10px;
    border-radius: 30px 30px 30px 30px;
    display: grid;
    justify-items: center;
    font-family: 'Roboto', sans-serif;
}

@media (max-width: 767px) {

    body {
        height: 101vh;
        background-repeat: no-repeat;
        background-size: 530px;
    }

    #title {
        top: 90px;
        min-width: 400px;
        font-size: 20px;
    }

    .container {
        min-width: 330px;
        top: 45%;
    }

    .container h3 {
        font-size: 15px;
        font-weight: 600;
    }

    p {
        font-size: 15px;
    }

    .description {
        position: absolute;
        margin-top: 50px;
        margin-bottom: -8vh;
    }

    body .description p {
        font-size: 10px;
        line-height: 1.6;
    }
}

h3{
    font-size: 16px;
    font-weight: 600;
}
input[type="text"]{
    width: 90px;
    font-weight: 600;
    color: darkcyan;
    padding: 20px 0;
    text-align: center;
    margin-top: 30px;
    border-radius: 5px;
    border: 2px solid grey;
    font-size: 28px;
}
button{
    width: 160px;
    padding: 15px 0;
    border-radius: 5px;
    background-color: darkcyan;
    color: white;
    border: none;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 30px;
    outline: none;
}
p{
    font-weight: 400;
}
.description {
    position: absolute;
    bottom: 0;
    padding: 20px;
    background-color: #f0f8ff;
    border-radius: 5px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.description h3 {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 15px;
    color: #D4145A;
}

.description p {
    font-size: 16px;
    color: #333;
    line-height: 1.6;
    margin-bottom: 10px;
}